.entry {
    break-inside: avoid;
    margin-bottom: 30px;
    padding-bottom: 30px;
    /* border-bottom: 1px dashed black; */
    font-family: 'Tahyp-rahy-ter 22', monospace;
    margin-left: 80px;
}

.entry p, ul, ol, li {
    break-inside: avoid;
}


entry:after {
    content: '---------------------------';
}


h1, h2, h3, h4, h5, h6 {
    font-size: 20px;
    line-height: 30px;
    margin-top: 30px;
    /* margin-left: -80px; */
    font-weight: normal;
    /* text-decoration: underline; */
}

h1 { margin-left: -64px;}
h1:before, h2:before, h3:before, h4:before, h5:before, h6:before{
    content: '§   ';
}
.entry h1:first-of-type {
    text-decoration: underline;
    text-transform: uppercase;
    margin-left: -80px;
}
.entry h1:first-of-type:before {
    content: '';
}

h2 { margin-left: -44px;}
h3 { margin-left: -24px;}
h4, h5, h6 { margin-left: -4px;}

h4:before {
    content: '      '
}

p, div, a, li {
    font-size: 20px;
    line-height: 30px;
}