
@page :left{ 
    /* margin-left: 20px;
    margin-right: 104px; */
    margin-left: -10px;
    margin-right: 54px;
}
  
  /* target right (odd-numbered) pages only */
  @page :right { 
    margin-left: 40px; 
    margin-right: 64px;
}

.entry {
    break-inside: avoid;
    margin-bottom: 30px;
    padding-bottom: 30px;
    /* border-bottom: 1px dashed black; */
    font-family: 'Courier New', 'Tahyp-rahy-ter 22', monospace;
    margin-left: 60px;
}

.entry p, ul, ol, li {
    /* break-inside: avoid; */
    margin-left: 60px;
}


entry:after {
    content: '---------------------------';
}


h1, h2, h3, h4, h5, h6 {
    font-size: 20px;
    line-height: 30px;
    font-family: "Helvetica", "Arial", sans-serif;
    margin-top: 30px;
    break-inside: avoid;
    /* margin-left: -80px; */
    font-weight: bolder;
    /* text-decoration: underline; */
}

h1:before, h2:before, h3:before, h4:before, h5:before, h6:before{
    content: '§   ';
}
.entry h1:first-of-type {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    /* text-transform: uppercase; */
    font-size: 20px;
}
.entry h1:first-of-type:before {
    content: '';
}

h2 { margin-left: 20px;}
h3 { margin-left: 40px;}
h4, h5, h6 { margin-left: 60px;}

h4:before {
    content: '      '
}

p, div, a, li {
    font-size: 16px;
    line-height: 30px;
}